:root{

	color-scheme:dark;

	font-family:
		Inter,
		system-ui,
		sans-serif;

	background:transparent;
}

*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}

html,
body{

	width:100%;
	height:100%;

	overflow:hidden;

	background:#05070b;

	color:white;
}

body{

	background:

	radial-gradient(circle at center,
	rgba(0,180,255,.08),
	transparent 65%),

	#05070b;
}

button{

	font:inherit;
}
